:javascript
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
  $(function () {
  $('#demo').scrollbox();
  });
-provide(:title, 'outstanding understanding')
-provide(:og_title, 'The Cultural Spotter - outstanding understanding')
-provide(:og_image, "https://s3.amazonaws.com/gtku/assets/about.png")
-content_for :description do
  = description('The Cultural Spotter is an online magazine that aims to show how colorful the world is by describing different lifestyles, culinary and cultural traditions and different points of view through a wide range of articles.')
.row.home-pd
  .col-lg-9.col-md-9
    %img{ :src => "https://s3.amazonaws.com/gtku/assets/frontpage.png", :width => "100%", :alt => "The Cultural Spotter Banner", :class => 'img-responsive' }
    - if request.env['ORIGINAL_FULLPATH'] == "/"
      .row
        .col-lg-8.col-md-7
          = render 'slider'
        .col-lg-4.col-md-5
          = render 'diduknow'
    %h2=@note
    -idx = 0
    -@articles.each_slice(6) do |articles_by6|
      .row    
        -articles_by6.each_slice(2) do |articles_by2|  
          .col-md-4.col-xs-12
            -articles_by2.each do |article|
              -idx = idx + 1
              -if(idx % 6 == 0) 
                -idx = 1 
              -if(idx % 5 == 0)
                -pnl = 'panel-primary'                           
              -elsif(idx % 4 == 0)
                -pnl = 'panel-info'                              
              -elsif(idx % 3 == 0)
                -pnl = 'panel-success'                                 
              -elsif(idx % 2 == 0)
                -pnl = 'panel-warning'              
              -elsif (idx % 1 == 0)
                -pnl = 'panel-danger'            
              .tar          
                = link_to "articles/#{article.url}" do
                  .panel{:class => pnl}     
                    .panel-heading 
                      %h3.panel-title.no-underline      
                        =article.title
                    .panel-body.trPic
                      = image_tag article.photo1(:medium),:width => "100%", :alt => article.p1desescription, :class => 'img-responsive'
                      .redO
                        %center=article.description
                .row
                  .col-md-4.col-xs-4
                    =article.created_at.to_date.to_s(:medium)
                  .col-md-4.col-xs-4
                    %p.text-danger=article.country.name             
                  .col-md-4.col-xs-4
                    .rgh
                      =article.category.name 
    .row
      .col-lg-12
        %center= will_paginate @articles                                     
  .col-lg-3.col-md-3
    .search-holder
      = render 'search_form'
    .fb-page{:data => {:href=>"https://www.facebook.com/theculturalspotter", "hide-cover"=>"false", "show-facepile"=>"true", "show-posts"=>"false"}}   
    .twt
      %a.twitter-follow-button{"data-lang" => "en","data-size" => "large", "data-show-count" => "true", :href => "https://twitter.com/CulturalSpotter"}
-# = render 'shared/fbpopup'     