.row
  .col-lg-1
  .col-lg-10
    %h1 Authors
    
    %table.table.table-striped.table-bordered
      %tr
        %th First name
        %th Last name
        %th About
        %th Link profile
    
      - authors.each do |author|
        %tr
          %td= author.first_name
          %td= author.last_name
          %td= author.about              
          %td
            = link_to 'Show', author, :class => "btn btn-info"
            = link_to 'Edit', edit_author_path(author), :class => "btn btn-warning"
            = link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
    
    %br
    
    = link_to 'New author', new_author_path, :class => "btn btn-primary"
  .col-lg-1
