.row
  .col-lg-1
  .col-lg-10
    %p#notice= notice

    
    %br
    .row
      .col-lg-1
      .col-lg-10
        %h1= "#{category.name}"
      .col-lg-1
    .row
      .col-lg-1
      .col-lg-10   
        = link_to 'Edit', edit_category_path(category), class: 'btn btn-primary'
        \|
        = link_to 'Back', categories_path, class: 'btn btn-danger'
      .col-lg-1    
  .col-lg-1