.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand
        %img{ :src => "https://s3.amazonaws.com/gtku/assets/gtku-logo-basic.png", :height => "56", :width => "126", :alt => "The Cultural Spotter Logo" } 
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-main")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse{:id => 'navbar-main'}
      %ul.nav.navbar-nav
        %li{ :class => is_active_page_home? }
          = link_to "Home", root_path, class: 'bold-text-navbar'
        %li{ :class => is_active_page?(about_path) }
          = link_to "About Us", about_path, class: 'bold-text-navbar'
        -categories = Category.all
        -categories.each do |category|
          %li{ :class => active_page_category(category.id) }
            = link_to category.name, root_path(:category_id => category.id), class: 'bold-text-navbar'
      %ul.nav.navbar-nav.navbar-right
        -if current_user.try(:admin?)
          %li= link_to "New Article", new_article_path, class: 'bold-text-navbar'
          %li= link_to "Categories", categories_path, class: 'bold-text-navbar'   
          %li= link_to "Authors", authors_path, class: 'bold-text-navbar'
          %li= link_to "Logout", destroy_user_session_path, :method => :delete, class: 'bold-text-navbar'    
        -else
          %li{ :class => is_active_page?(contact_path) }
            = link_to "Contact", contact_path, class: 'bold-text-navbar'